.taskRow {
    display: flex;
    align-items: center;
    padding: 0.1rem;
    width: 540px;
    background-color: hsl(235, 24%, 19%);
    color: hsl(234, 39%, 85%);
    letter-spacing: 1px;
    gap: 1rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    position: relative;
    bottom: 6.5rem;
    
}


.checkbox {
  
}