.taskRow {
    display: flex;
    align-items: center;
    padding: 0.1rem;
    width: 540px;
    background-color: hsl(235, 24%, 19%);
    color: hsl(234, 39%, 85%);
    letter-spacing: 1px;
    gap: 1rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    position: relative;
    bottom: 6.5rem;
    
}

.circle {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  border: 1px solid hsl(235, 19%, 35%);
  cursor: pointer;
  transition: 0.2s ease;
}

.circleDone {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  cursor: pointer;
  background: linear-gradient(135deg, #57ddff 0%, #c058f3 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.circleDone::after {
  content: url(/icons/icon-check.svg);
  color: white;
  font-size: 13px;
}
