.taskButton {
    background: none;
    border: none;
    color: hsl(235, 16%, 43%);
    cursor: pointer;
    
}

.activeButton {
    background: none;
    border: none;
    color: hsl(220, 98%, 61%);
    cursor: pointer;
}

.mobileButtons {
    display: none;
}

@media screen and (max-width: 550px)  {

.filterButtons {
    visibility: hidden;
}

.taskButton {
    display: flex;
    
}

}

