body {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  margin: 0 auto;
  padding: 0 auto;
  height: 100dvh;
}

.dark {
  height: 100vh;
  background-color: hsl(235, 21%, 11%);
}

.light {
  height: 100vh;
  background-color: hsl(233, 11%, 84%);
}

.title {
  display: flex;
  justify-content: space-between;
  width: 550px;
  padding-bottom: 5rem;
}

.taskWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: hsl(234, 39%, 85%);
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 25vh;
  width: 100%;
}

.light .hero {
  background-image: url("/images/bg-desktop-light.jpg");
  background-position: center top;
}

.dark .hero {
  background-image: url("/images/bg-desktop-dark.jpg");
}

.taskWrapper h1 {
  color: white;
  letter-spacing: 10px;
}

.buttonsContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 509px;
  position: relative;
  bottom: 8.5rem;
  background-color: hsl(235, 24%, 19%);
  padding: 1.1rem;
  border: none;
  border-radius: 1px;
}

.buttonsContainerLight {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 509px;
  position: relative;
  bottom: 8.5rem;
  background-color: hsl(0, 0%, 98%);
  padding: 1.1rem;
  border: none;
  border-radius: 1px;
}

.mobileButtons {
  display: none;
}

@media screen and (max-width: 550px) {
  .title {
    width: 332px;
  }

  .buttonsContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 288px;
    height: 18px;
    margin-top: 2.5rem;
  }

  .buttonsContainerLight {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 288px;
    height: 18px;
    margin-top: 2.5rem;
  }

  .mobileButtons {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 290px;
    position: relative;
    bottom: 7.5rem;
    background-color: hsl(235, 24%, 19%);
    padding: 1.1rem;
    border: none;
    border-radius: 5px;
  }

  .mobileButtonsLight {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 290px;
    position: relative;
    bottom: 7.5rem;
    background-color: hsl(0, 0%, 98%);
    padding: 1.1rem;
    border: none;
    border-radius: 5px;
  }

  .hero {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 14vh;
    width: 100%;
  }
}

@media screen and (max-height: 999px) {
  .title {
    position: relative;
    top: 0.5rem;
  }

  .buttonsContainer {
    margin-top: 3.7rem;
  }

  .buttonsContainerLight {
    margin-top: 3.7rem;
  }
}

@media screen and (max-height: 670px) {
  .title {
    position: relative;
    top: 1rem;
  }

  .buttonsContainer {
    margin-top: 5.5rem;
  }

  .buttonsContainerLight {
    margin-top: 5.5rem;
  }
}

@media screen and (max-height: 1000px) {
  .hero {
    height: 25vh;
  }
}
