.newTask {
    display: flex;
    padding-bottom: 1rem;
    position: relative;
    bottom: 7rem;
}

.newTask input {
    padding: 1.3rem;
    width: 500px;
    background-color: hsl(235, 24%, 19%);
    color: hsl(234, 39%, 85%);
    border: none;
    border-radius: 5px;
}